@use "../../../../assets/styles/app";

.popup {
  @include app.centerColumn;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #111317;


  .card {
    position: relative;
    background: #fff;
    width: 100%;
    //height: 100%;
    overflow: auto;

    @include app.desktop {
      width: 1266px;
      height: 687px;
      border-radius: 36px;
      display: flex;
      overflow: hidden;
    }

    .closeBtn {
      @include app.button;
      position: absolute;
      top: 16px;
      right: 16px;

      @include app.desktop {
        top: 36px;
        right: 42px;
      }
    }

    & > img {
      display: block;
      width: auto;
      height: 420px;
      margin-left: auto;
      margin-right: auto;

      @include app.desktop {
        flex-shrink: 0;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
      }

    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 12px 24px 36px;

      @include app.desktop {
        flex-grow: 1;
        padding: 36px 30px 20px 24px;
        justify-content: space-between;
      }

      .contentTop {

        .brand {
          font-weight: 300;
          font-size: 16px;
          color: #3d3d3d;
        }

        .name {
          margin-top: 12px;
          font-weight: 700;
          font-size: 20px;
          line-height: 90%;
          color: #3d3d3d;

          @include app.desktop {
            margin-top: 8px;
            font-size: 24px;
          }
        }

        .texts {
          margin-top: 12px;
          //padding-bottom: 16px;

          @include app.desktop {
            margin-top: 10px;
            //padding-bottom: 42px;
          }

          p {
            font-weight: 300;
            font-size: 16px;
            //line-height: 138%;
            color: #353535;

            @include app.desktop {
              font-size: 18px;
              //line-height: 113%;
            }
          }
        }

      }

      .contentBottom {
        border-top: 1px solid #000;
        margin-top: 24px;
        display: flex;
        flex-direction: column;

        @include app.desktop {
          margin-top: 0;
        }

        .info {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;

          @include app.desktop {
            margin-top: 10px;
          }

          & > div {

            p {
              font-weight: 400;
              font-size: 14px;
              color: #3d3d3d;

              @include app.desktop {
                font-size: 16px;
              }

              &:not(:first-child) {
                margin-top: 8px;

                @include app.desktop {
                  margin-top: 5px;
                }
              }
            }
          }

          .buy {
            width: 106px;
            height: 39px;

            @include app.desktop {
              width: 190px;
              height: 70px;
            }

            svg {
              width: 106px;
              height: 39px;

              @include app.desktop {
                width: 190px;
                height: 70px;
              }
            }
          }
        }

        .link {
          align-self: flex-start;
          display: block;
          text-decoration: none;
          margin-top: 21px;
          border: 1px solid #aaa;
          border-radius: 999px;
          padding: 6px 8px;

          @include app.desktop {
            margin-top: 10px;
            padding: 4px 8px;
          }

          p {
            font-weight: 900;
            font-size: 8px;
            line-height: 200%;
            color: #f00;

            @include app.desktop {
              font-size: 15px;
              line-height: 107%;
            }
          }
        }
      }

    }

  }

}