@use "../../../assets/styles/app";

.app {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &_disableScroll {
    height: 100vh;
    overflow: hidden;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  header, footer {
    flex-shrink: 0;
  }
}
