@use "../../../../assets/styles/app";

.dropdown {
  //position: relative;

  .btn {
    @include app.button;
    background: #efe9e9;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 6px 4px 16px;
    transition: 0.3s;

    @include app.desktop {
      padding: 5px 12px 5px 18px;
    }

    p {
      font-weight: 400;
      font-size: 11px;
      color: #000;

      @include app.desktop {
        font-size: 20px;
      }
    }

    svg {
      transition: 0.3s;
      margin-left: 15px;
      width: 6px;
      height: 3px;

      @include app.desktop {
        margin-left: 12px;
        width: 10px;
        height: 5px;
      }
    }

    &_open {
      background: #d2c9c9;

      svg {
        transform: rotate(-180deg);
      }
    }
  }

  .list {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 24px;
    border-radius: 12px;
    background: #efe9e9;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;

    @include app.desktop {
      top: 38px;
      padding-left: 18px;
    }

    button {
      @include app.button;
      padding: 5px;
      transition: 0.3s;

      //&:not(:first-child) {
      //  margin-top: 10px;
      //}

      &:hover {
        background: darkgray;
      }

      p {
        font-weight: 300;
        font-size: 15px;
        color: #000;
        text-align: left;
        white-space: nowrap;
      }
    }
  }
}