@use "../../../assets/styles/app";

.reviews {
  @include app.container;
  @include app.block_padding;

  .inner {
    @include app.inner;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .wrapper {
      align-self: stretch;
      margin-top: 16px;

      @include app.desktop {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .about {
        font-weight: 300;
        font-size: 16px;
        color: #000;

        @include app.desktop {
          font-size: 36px;
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 286px;
        height: 50px;
        border-radius: 999px;
        background: #ff004f;
        margin-top: 16px;

        @include app.desktop {
          margin-top: 0;
        }

        p {
          font-weight: 900;
          font-size: 16px;
          color: #fff3f3;
        }

        svg {
          margin-left: 10px;
          width: 18px;
          height: 16px;
        }
      }



    }




    .swiper {
      width: 100%;
      margin-top: 18px;

      @include app.desktop {
        margin-top: 36px;
      }

      .slide {
        //height: auto;
        padding: 16px;

        .card {
          height: 100%;
          border: 2px solid #a7a7a7;
          border-radius: 24px;
          box-shadow: 0 0 21px 1px rgba(0, 0, 0, 0.25);
          padding: 18px 12px;

          @include app.desktop {
            padding: 32px 24px;
          }

          .nameWrapper {
            display: flex;
            align-items: center;

            p {
              font-weight: 500;
              font-size: 12px;
              color: #000;

              @include app.desktop {
                font-size: 20px;
              }
            }

            .stars {
              display: flex;
              align-items: center;
              margin-left: 6px;

              @include app.desktop {
                margin-left: 8px;
              }

              svg {
                width: 9px;
                height: 9px;

                @include app.desktop {
                  width: 15px;
                  height: 15px;
                }

                &:not(:first-child) {
                  margin-left: 6px;

                  @include app.desktop {
                    margin-left: 11px;
                  }
                }
              }
            }


          }

          .text {
            margin-top: 5px;
            font-weight: 300;
            font-size: 10px;
            color: #000;

            @include app.desktop {
              margin-top: 9px;
              font-size: 16px;
            }
          }


        }

      }

    }

    .navigation {
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 36px;

      @include app.desktop {
        margin-top: 48px;
      }

      button {
        @include app.button;
        @include app.centerRow;
        height: 10px;

        &:not(:first-child) {
          margin-left: 80px;
        }

        svg {
          path {
            fill: #000;
          }
        }

        svg {
          path {
            transition: 0.3s;
          }
        }

        &:hover {
          svg {
            path {
              fill: purple;
            }
          }
        }

      }
    }


  }
}