@use "../../../assets/styles/app";

.newsPage {
  @include app.container;
  //height: 100vh;
  padding-top: 70px;
  padding-bottom: 8px;

  @include app.desktop {
    padding-top: 224px;
    padding-bottom: 150px;
  }

  .inner {
    @include app.inner;
    height: 100%;

    .img {
      display: block;
      width: 276px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      //object-fit: contain;

      @include app.desktop {
        width: 960px;
        //height: 960px;
      }
    }

    .text {
      margin-top: 24px;

      @include app.desktop {
        margin-top: 94px;
      }

      p {
        font-weight: 900;
        font-size: 12px;
        text-align: justify;

        @include app.desktop {
          font-size: 32px;
        }
      }
    }
  }

}